.features {
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:900px;
    height:100vh;
}

.title {
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.6px;
    color: var(--gray-color);
}

.subtitle {
    margin-top: 20px;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: var(--light-gray-color);
    position: relative;
}

.subtitle::after {
    content: '';
    width: 80%;
    background: var(--orange-color);
    box-shadow: 0 8px 11px rgba(255, 194, 97, 0.37);
    bottom: -20px;
    border-color: var(--orange-color);
    display: block;
    position: absolute;
    height: 6px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.grid {
    margin-top: 115px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
}
