.features {
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.title {
    margin-top: 50px;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.6px;
    color: var(--gray-color);
}

.subtitle {
    margin-top: 20px;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: var(--light-gray-color);
}

.subtitle::after {
    content: '';
    width: 349px;
    background: var(--orange-color);
    box-shadow: 0px 8px 11px rgba(255, 194, 97, 0.371207);
    top: 182px;
    border-color: var(--orange-color);
    display: block;
    position: absolute;
    height: 6px;
    left: 30%;
    bottom: 0;
}

.grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    max-width: 870px;
    max-height: 620px;
    grid-gap: 70px;
}