.about {
    background: url("./wave.png") no-repeat;
    background-position: bottom center;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height:900px;
    height:100vh;
}

.title {
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.6px;
    color: var(--white-color);
    text-shadow: 0 2px 4px rgba(74, 207, 178);
    margin-bottom: 50px;
}

.imgWrapper {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 1;
}

.img {
    max-width: 100%;
}

.icons {
    position: absolute;
}

.blackRect {
    top: 400px;
    left: 139px;
}

.whiteRectLeft {
    top: 650px;
    left: 139px;
}

.blackRectHollow {
    top: 340px;
    right: 1%;
}

.whiteRectRight {
    top: 650px;
    right: 3%;
}
