@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --white-color: #FFFFFF;
  --orange-color: #FFBE58;
  --gray-color: #606060;
  --light-gray-color: #929292;
  --medium-gray-color: #737373;
}

* {
  box-sizing: border-box;
}

html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


ul {
  padding: 0;
  margin: 0;
}
